/* --text-color is a variable that can be used through the css classes
  when defined at the root pseudo selector.
  And values can be override at lower classes as neede.
*/
:root {
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    /* Variables */
    --text-color-primary: #b6b6b6;
    --text-color-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

/* Custom browser scroll-bar */
/* Width */
body::-webkit-scrollbar {
    width: 0.35rem;
}

/* track */
body::-webkit-scrollbar-track {
    background-color: #1e1e24;
}

/* thumb */
body::-webkit-scrollbar-thumb {
    background-color: #6649b8;
}

.content {
    max-width: 50rem;
    margin: 0 auto;
    padding: 1rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    /* variable usage */
    background-color: var(--bg-primary);
    transition: 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-color-primary);
    text-decoration: none;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text {
    display: block;
}